	<header >
        <div id="logo">
            <h1><img src="{{ url_for('static', filename='images/logo.png') }}" alt="The Logo of Cantor" class = "responsive-img"></p></h1>
        </div>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="courses">Courses</a></li>
                <li><a href="second.html">Staff page </a></li>
                <li><a href="third.html">third</a></li>
              </ul>
            </nav>
	</header>
    <hr>