.container {
  margin: auto;
  max-width: 1200px;
  min-width: 600px;
}
header {
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  max-height: 125px;
}
.responsive-img{
  min-width: 100px;
  min-height: 100px;
  max-width: 100%;
  max-height: 100px;
}
header h1 a:hover {
  text-decoration: underline;
}
#logo {
  padding: 10px;
}
nav ul {
  padding-left: 0;
  flex-direction: row;
}

nav ul li a {
 padding-top: 50px;
}
main{
  display: flex;
  gap: 10px;
}
.footer{
  text-align: center;
}
.footer-left{
  padding: 30px;
}

#half-sections{
  display: flex;
  flex-direction: row;
    /* 2. Optional: Set a height so the halves fill the screen (viewport height) */
    min-height: 60vh; /* Example: 80% of the screen height */

    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#left-section{
  padding-top: 50px;
}

#right-section{
}